<section aria-describeBy='form'>
  <form class="add-new-reminder" {{action 'addPerson' model on='submit'}}>
    <h2>Who has wronged you today?</h2>
    <label>
      {{input value=name type="text" name="name" placeholder='name'}}
    </label>
    <label>
      {{input value=description type="text" description="description" placeholder='description'}}
    </label>
    <button role='button' aria-labelledby="submitButton" class="add-new-person-button">Submit</button>
  </form>
  {{outlet}}
</section>
{{yield}}
